# Prevent Travis from exporting CXX after matrix env
language: c

sudo: false

matrix:
  include:
# Coverage
  - os: osx
    compiler: clang
    env: NODE_VERSION=0.10 COVERAGE=true CXXFLAGS="--coverage" LDFLAGS="--coverage"
# Linux
  - os: linux
    compiler: clang
    env: CXX=clang++-3.5 NODE_VERSION=5
  - os: linux
    compiler: clang
    env: CXX=clang++-3.5 NODE_VERSION=4
  - os: linux
    compiler: clang
    env: CXX=clang++-3.5 NODE_VERSION=0.12
  - os: linux
    compiler: clang
    env: CXX=clang++-3.5 NODE_VERSION=0.10
# OS X
  - os: osx
    osx_image: xcode7
    compiler: clang
    env: NODE_VERSION=5
  - os: osx
    osx_image: xcode7
    compiler: clang
    env: NODE_VERSION=4
  - os: osx
    osx_image: xcode7
    compiler: clang
    env: NODE_VERSION=0.12
  - os: osx
    osx_image: xcode7
    compiler: clang
    env: NODE_VERSION=0.10

addons:
  apt:
    sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.5' ]
    packages: [ 'clang-3.5', 'libstdc++-4.9-dev', 'libstdc++6' ]

env:
  global:
  - secure: "XV0lekmfgT+D9t0ZTIU+UJF6g+p3cBQMO6T6C9lkoKTC0YbtLtxSFtBahD/4PjL86DMJgTaf1nBmxqOxbrfkcpJUxnLe3r8u4Z2L/+7+QSACLNktlIfWNSO+33WxKNb4mVw6jMFZIo4ZurF016MXYzLzjpxRELW2oO2STUs2m44="
  - secure: "CQNHbxw8yHlAdUVbKokHzHmj7C+duXP3mifWOkZm9GKw4myWsRFhhoSYZmOSkgj9EWfYYkedrqEr9+GaMg9rkVJuO/7jzn6S+M7CFXKJju6MoZEDO6WcFva4M8pw6IFb9q22GcQ+OsE8/i0DwchTokyFkNb3fpwWuwROUPQ/nWg="

before_install:
- export COVERAGE=${COVERAGE:-false}
- export PYTHONUSERBASE=$(pwd)/.local
- mkdir -p ${PYTHONUSERBASE}
- if [[ ${COVERAGE} == true ]]; then
     if [[ $(uname -s) == 'Linux' ]]; then
        pip install --user cpp-coveralls;
     else
        easy_install --user cpp-coveralls;
     fi;
  fi;
- ./scripts/install_node.sh

install:
- ./scripts/install.sh

before_script:
- ulimit -c unlimited -S
- ulimit -a

script:
- ./scripts/test.sh

after_success:
- ./scripts/travis_publish.sh

git:
  submodules: true
